.App {
  text-align: center;
}

@media screen and (max-width: 800px) {
  div.App {
    margin-right: 50px;
    display: flex;
  }
}

a:not([href]) {
  cursor: pointer;
  color: #d3d3d3;
  text-decoration: none;
}
